<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title data-tf="@head_title"></title>
</head>
<body>
<p style="color: red" data-tf="@error_msg"></p>
<p style="color: green" data-tf="@notice_msg"></p>

<h1>Editing Jobs</h1>

<form method="post" data-tf="@edit_form">
  <p>
    <label>ID<br /><input data-tf="@id" /></label>
  </p>
  <p>
    <label>Title<br /><input data-tf="@title" /></label>
  </p>
  <p>
    <label>Location<br /><input data-tf="@location" /></label>
  </p>
  <p>
    <label>Wage<br /><input data-tf="@wage" /></label>
  </p>
  <p>
    <label>Shortdescription<br /><input data-tf="@shortdescription" /></label>
  </p>
  <p>
    <label>Dateposted<br /><input data-tf="@dateposted" /></label>
  </p>
  <p>
    <label>Closingdate<br /><input data-tf="@closingdate" /></label>
  </p>
  <p>
    <label>Industry<br /><input data-tf="@industry" /></label>
  </p>
  <p>
    <label>Company<br /><input data-tf="@company" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<a href="#" data-tf="@link_to_show">Show</a> |
<a href="#" data-tf="@link_to_index">Back</a>

</body>
</html>
