<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title data-tf="@head_title"></title>
</head>
<body>
<p style="color: red" data-tf="@error_msg"></p>
<p style="color: green" data-tf="@notice_msg"></p>

<h1>Showing Jobs</h1>
<dt>ID</dt><dd data-tf="@id">(id)</dd><br />
<dt>Title</dt><dd data-tf="@title">(title)</dd><br />
<dt>Location</dt><dd data-tf="@location">(location)</dd><br />
<dt>Wage</dt><dd data-tf="@wage">(wage)</dd><br />
<dt>Shortdescription</dt><dd data-tf="@shortdescription">(shortdescription)</dd><br />
<dt>Dateposted</dt><dd data-tf="@dateposted">(dateposted)</dd><br />
<dt>Closingdate</dt><dd data-tf="@closingdate">(closingdate)</dd><br />
<dt>Industry</dt><dd data-tf="@industry">(industry)</dd><br />
<dt>Company</dt><dd data-tf="@company">(company)</dd><br />

<a href="#" data-tf="@link_to_edit">Edit</a> |
<a href="#" data-tf="@link_to_index">Back</a>

</body>
</html>
