<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title data-tf="@head_title"></title>
</head>
<body>
<p style="color: red" data-tf="@error_msg"></p>
<p style="color: green" data-tf="@notice_msg"></p>

<h1>Showing Companies</h1>
<dt>ID</dt><dd data-tf="@id">(id)</dd><br />
<dt>Name</dt><dd data-tf="@name">(name)</dd><br />
<dt>Email</dt><dd data-tf="@email">(email)</dd><br />
<dt>Website</dt><dd data-tf="@website">(website)</dd><br />
<dt>Imagepath</dt><dd data-tf="@imagepath">(imagepath)</dd><br />

<a href="#" data-tf="@link_to_edit">Edit</a> |
<a href="#" data-tf="@link_to_index">Back</a>

</body>
</html>
